.root{
    -fx-font: 25px "serief";
}
.big-text{
    -fx-font: 50px "serief";
}
.row{
    -fx-pref-width: 9999999999999px;
}
.column{
    -fx-pref-width: 600px;
}
.grey{
    -fx-background-color : grey;
}